.result {
    font-size: large;
    color: darkblue;
    text-align: center;
}

label {
    text-align: center;
    font-weight: bold;
}

.card {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.4), #9c9999, rgba(255, 255, 255, 0.4));
    text-align: center;
}


.wow {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translateX(-50%);
    width: 25%;
}

.lol {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateX(-50%);
    width: 25%;
}
.summoner {
    position: absolute;
    right: 0%;
    top: 5%;
    transform: translateX(-50%);
    width: 25%;
    max-height: 300px; /* Adjust the maximum height as needed */
}
.summoner p {
    margin: 0px 0; /* Adjust the top and bottom margins */
}

.btn {
    display: block;
    margin: 0 auto;
    background: darkolivegreen;
    border: black;
}


